# Shared Config
SHARED_SECRET=change-me-in-production
CLIENT_ID=cashier-1

# Cashier Side Config
MARAKI_BASE=http://192.168.1.24/MarakiReports2012
MARAKI_USER=admin
MARAKI_PASS=admin
MARAKI_USER_FIELD=txt_username
MARAKI_PASS_FIELD=txt_password
REPORT_ID_A=001-01-0000000040
REPORT_ID_B=001-07-0000000001
REPORT_ID_C=001-07-0000000009
REPORT_ID_D=001-07-0000000053
SENDER_HOST_URL=http://192.168.1.46:5000/upload

# Host Side - Receiver Config
RECEIVER_HOST=127.0.0.1
RECEIVER_PORT=5000
RECEIVER_BASE_DIR=htmls

# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=clinic_db
DB_USER=postgres
DB_PASS=password
